@{
    ViewData["Title"] = "DigitalHouse";
}

<h2 class="fw-bold">Todo List</h2>
<div class="container">
  <div class="row">
    <div class="col">
        <input class="form-control form-control-lg" type="text" placeholder="Add Task..." aria-label=".form-control-lg example">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary btn-lg justify-content-md-end">+</button>
    </div>
  </div>
</div>

<br/>
<br/>

<h5 class="fw-bold">My Tasks</h5>
<div class="list-group container">
  <label class="list-group-item d-flex align-items-center">
    <input class="form-check-input me-1" type="checkbox" value="">
       <div class="flex-fill">delectus aut autem</div>
    <button type="button" class="btn btn-danger justify-content-md-end">Delete</button>
  </label>
  <label class="list-group-item d-flex align-items-center">
    <input class="form-check-input me-1" type="checkbox" value="">
    <div>quis ut nam facilis et officia qui</div>
    <button type="button" class="btn btn-danger justify-content-md-end">Delete</button>
  </label>
  <label class="list-group-item d-flex align-items-center">
    <input class="form-check-input me-1" type="checkbox" value="">
    <div  class="flex-fill">fugiat veniam minus</div>
    <button type="button" class="btn btn-danger justify-content-md-end">Delete</button>
  </label>
  <label class="list-group-item d-flex align-items-center">
    <input class="form-check-input me-1" type="checkbox" value="">
    <div  class="flex-fill">et porro tempora</div>
    <button type="button" class="btn btn-danger justify-content-md-end">Delete</button>
  </label>
  <label class="list-group-item d-flex align-items-center">
    <input class="form-check-input me-1" type="checkbox" value="">
    <div  class="flex-fill">laboriosam mollitia et enim quase adiposci quia providente illum</div>
    <button type="button" class="btn btn-danger justify-content-md-end">Delete</button>
  </label>
</div>


